<div class="rf-tile rf-tile--horizontal">
    <div class="rf-m-4w w-full flex flex-row items-center">
        <div><strong>{{ application.name }}</strong></div>
        <div class="flex-1 text-center">Jeton : <i>{{#each keys}}{{ id }}{{/each}}</i></div>
        <div><button class="rf-btn">Copier mon jeton</button></div>
    </div>
</div>
</div>
