[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
printvenv = "which python"
test = "pytest"

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-migrate = "*"
requests = "*"
pytest = "*"
factory-boy = "*"
black = "*"
flask-caching = "*"
redis = "*"
gunicorn = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
