<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>App</title>
</head>

<body>
    {{#each subscriptions}}
    {{#each keys}}
    {{id}}
    {{/each}}
    {{/each}}
</body>

</html>
